@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Mulish:wght@300;400;500;600;700;800&display=swap');

$xl: 'screen and (min-width: 1200px)';
$lg: 'screen and (min-width: 992px)';
$md: 'screen and (min-width: 768px)';
$sm: 'screen and (min-width: 576px)';

$basicFont: 'Mulish', sans-serif;
$specialFont: 'Cinzel', 'Mulish', sans-serif;

$black: #000;
$dark: #444;
$lightMenu: rgb(240, 240, 240);
$light: rgb(250,250,250);
$white: #fff;
$grayPink: #cec2c2;
$pink: rgb(250, 182, 194);
$lightPink: #e8d9d9;
$grayPink: #cec2c2;
$grayPink2: #ECE1E1;

$pinkRedGradient: linear-gradient(135deg, #e8d9d9, #AE5656);
$boxShadow: 0px 13px 15px -15px rgba(0,0,0,0.2);
$boxHoverShadow: 0px 26px 40px -27px rgba(0, 0, 0, 0.35);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  background: transparent;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 15px 15px rgba(110, 110, 110, 0.4);
  border: solid 5px transparent;
  border-radius: 1.3em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px 15px transparent;
  border: solid 5px transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

input,
select,
input::placeholder,
button,
a {
  background: transparent;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button,
a {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

input:active,
input:focus,
select:active,
select:focus,
button:active,
button:focus,
a:active,
a:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input[type='radio'] {
  -webkit-appearance: none;
}

body {
  font-family: $basicFont;
  font-size: 16px;
  font-display: fallback;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background: $light;
  padding-bottom: 80px;

  @media #{$md}{
    padding-bottom: 0;
  }
}

.icon {
  pointer-events: none;
}

.content {
  padding-left: 1.1em;
  padding-right: 1.1em;
  @media #{$sm}{
    padding-left: 2em;
    padding-right: 2em;
  }
}

.main {
  min-height: 78.7vh;
}


//----------------------------NAVBAR-----------------------------


.navbar--mobile {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: flex;
  gap: 0 5px;

  @media #{$md}{
    display: none;
  }
}

.navbar__side {
  z-index: 1;
  background: $lightMenu;
  align-self: flex-end;
  width: calc(100% / 2 - 34px);
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: $dark;
    font-size: 1.4em;
    padding: 0.4em;
    margin: 0.3em 5%;
  }

  &--left {
    border-top-right-radius: 2.5em;
    box-shadow: -2px -7px 10px -8px rgba(0,0,0,0.15);
  }

  &--right {
    border-top-left-radius: 2.5em;
    box-shadow: 2px -7px 10px -8px rgba(0,0,0,0.15);
  }
}

.navbar__center {
  z-index: 10;
  background: rgba(245, 183, 194, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: $white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;

  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);

  a {
    font-size: 1.5em;
  }
}

.navbar__circle {
  z-index: -1;
  width: 78.5px;
  height: 78.5px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  box-shadow: 0px 35px $lightMenu;
}


.navbar--desktop {
  display: none;
  @media #{$md}{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  header {
    font-family: $specialFont;
    font-weight: 500;
  }
}

.navbar__content {
  display: flex;
}

.navbar__content a{
  font-size: 0.9em;
  margin: 0em 1em;
  display: flex;
  align-items: center;
  padding: 0.3em 0.5em;
  font-weight: 300;
  border-radius: 10px;
  transition: all 0.1s;

  .icon {
    margin-right: 0.3em;
    font-size: 0.95em;
  }

  &:hover, &.active {
    background: darken($white, 0.5);
    color: $black;
  }
}

.navbar__content .navbar__cart {
  display: flex;
  align-items: center;
  font-size: 1em;

  span {
    font-size: 0.75em;
    font-weight: 600;
    color: $white;
    background: $pink;
    border-radius: 8px;
    padding: 0.2em 0.4em;
  }
}

//-------------------STRIPE------------------------
.stripe {
  background: $dark;
  color: $light;
  height: 28px;
  display: grid;
  place-items: center;
  font-size: 0.9em;
  z-index: 10;

  span {
    font-weight: 600;
  }

  a:hover{
    color: $pink;
  }

  @media #{$lg}{
    font-size: 14px;
  }
}

//------------------HEADER--------------------------
.header {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  font-family: $specialFont;
  font-weight: 500; 
  text-align: center;
  font-size: 1.4em;
  @media #{$md}{
    display: none;
  }
}

//------------------BANNER----------------------------
.banner {
  height: 540px;
  background-image: url("./images/banner3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media #{$sm}{
    background-image: url("./images/banner2.jpeg");
    height: calc(100vh - 100px);
  }

  @media #{$lg}{
    background-image: url("./images/banner1.jpeg");
    background-position: center;
    height: calc(100vh - 169px);
  }
}

//----------------------DELIVERY OFFER--------------------
.delivery-offer {
  background: $pinkRedGradient;
  padding: 1.1em 0.7em;
  color: #fff;
  text-align: center;
  line-height: 1.8;

  @media #{$lg}{
    letter-spacing: 1px;
    padding: 1.1em 0.4em;
  }

  span {
    font-weight: 800;
  }
}

//---------------------SPECIAL OFFER-------------------------
.special-offer {
  padding: 2em 4em 2em 2em;
  background-image: url("./images/bg1.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  color: $dark;

  @media #{$md}{
    background-image: url("./images/bg3.jpg");
    padding: 2em 5em;
  }

  @media #{$lg}{
    padding: 3em 11em 3em 8em;
    font-size: 1.1em;
  }

  h2 {
    padding: 0.4em 2em 0.4em 0em;
    font-weight: 400;
  }

  p {
    font-weight: 300;
  }

  button {
    text-decoration: underline;
  }

  .bold {
    font-weight: 700;
  }

  .font {
    font-family: $specialFont;
    font-size: 1.2em;
  }
}

//------------------------NEWSLETTER------------------------
.newsletter {
  background: $pinkRedGradient;
  padding: 1.1em 0.7em;
  color: #fff;
  text-align: center;
  line-height: 1.8;
  
  @media #{$lg}{
    letter-spacing: 1px;
    padding: 1.6em 0.7em;
  }

  form {
    display: flex;
    gap: 0em 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    @media #{$md}{
      gap: 0em 2.5em;
    }
  }

  span {
    font-weight: 800;
    text-transform: uppercase;
  }

  input {
    padding: 0.4em 0.7em;
    border-bottom: 1px solid rgba(255,255,255,0.3);

    @media #{$md}{
      padding: 0.4em 1.5em;
    }
  }
}

//-------------------------DELIVERY------------------

.delivery {
  padding-bottom: 1em;

  @media #{$md}{
    width: 80%;
    font-size: 14px;
  }

  @media #{$lg}{
    width: 60%;
  }

  @media #{$xl}{
    width: 50%;
  }

  h3 {
    font-weight: 500;
    margin: 0.5em 0em;
    @media #{$lg}{
      margin: 1.5em 0em 0.5em 0em;
    }
  }

  p {
    line-height: 1.8;
  }

  span {
    font-weight: 700;
  }
}

.payment {
  display: flex;
  align-items: center;
  gap: 0em 1em;
  margin: 1em 0em 2em;
  .icon {
    font-size: 2.2em;
  }
}

//--------------------------FOOTER---------------------
.footer .stripe {
  display: none;
  @media #{$md}{
    display: grid;
  }
}

//--------------------------CONTACT---------------------
.contact {
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 1em;

  @media #{$md}{
    width: 70%;
  }

  @media #{$lg}{
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  &__wrapper {
    @media #{$lg}{
      width: 40%;
    }
  }

  h3 {
    font-weight: 500;
  }
  p {
    margin: 0.7em 0em;
    line-height: 1.6;
  }

  &__content {
    margin: 1.5em 0em;
    line-height: 1.8;
  }
}

.form {
  margin: 1.5em 0em;
  display: flex;
  flex-direction: column;

  @media #{$lg}{
    margin-left: 2em;
  }

  @media #{$xl}{
    width: 35%;
  }

  input {
    border-bottom: 1px solid $lightPink;
    padding: 0.9em;
    margin-bottom: 1em;
  }

  input::placeholder {
    color: lighten($dark, 10);
  }
}

.form__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input__message {
  width: 100%;
}

.input__text {
  width: 47%;
}

.input__email, .input__tel {
  width: 100%;
  @media #{$sm}{
    width: 47%;
  }
}

.form__button {
  width: 100%;
  padding: 0.8em 1em;
  background: $dark;
  color: $white;
  margin: 0.8em 0em;
  border-radius: 1.1em;
  font-weight: 600;
  transition: all 0.1s;

  align-self: center;

  &:hover {
    color: $dark;
    background: $lightPink;
  }

  @media #{$sm}{
    width: 40%;
  }

  @media #{$md}{
    width: 35%;
    align-self: flex-end;
  }
}

.address {
  font-style: normal;
  margin-bottom: 0.5em;

  p {
    display: flex;
    align-items: center;
  }

  .icon {
    color: $grayPink;
    font-size: 1.35em;
    margin-right: 0.4em;
    @media #{$lg}{
      margin-right: 0.7em;
    }
  }
}

.social-media h4 {
  font-weight: 600;
  font-size: 0.9em; 
  margin-bottom: 0.3em; 
  margin-top: 1.5em;

  @media #{$lg}{
    font-size: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 500;
  }
}

.social-media__content {
  display: flex;
  align-items: center;
  a {
    font-size: 1.2em;
    display: grid;
    place-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: $lightPink;
    margin-right: 0.3em;

    @media #{$lg}{
      margin-right: 0.6em;
    }

    &:hover {
      background: $dark;
      color: $lightPink;
      transform: scale(1.1);
    }
  }
}

//--------------------LOADER-------------------------
.loader {
  height: 85vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  span {
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: darken($lightPink, 15);
    animation: textLoader 2s linear infinite;
    -webkit-animation: textLoader 2s linear infinite;
  }
}

.circle {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: circleLoader 0.7s linear infinite;
  -webkit-animation: circleLoader 0.7s linear infinite;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 50%;
  }
}

@keyframes textLoader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes circleLoader {
  0% {
    transform: rotate(0);
    box-shadow: 1px 3px 2px #CE5050;
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 1px 3px 2px #e8d9d9;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 1px 3px 2px #ADE6F2;
  }
}

//-------------------------MODAL------------------------

.modal {
  @media #{$lg}{
    display: none;
  }
}

.modal__background {
  position: fixed;
  z-index: 200;
  inset: 0;
  background: rgba(170, 170, 170, 0.7);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.modal__content {
  z-index: 205;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $white;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  padding: 2em;

  max-height: 90vh;
  overflow-y: scroll;

  @media #{$sm}{
    border-top-left-radius: 0em;
    border-bottom-right-radius: 1.5em;
    width: 450px;
    top: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
  }
}

//---------------------FILTERS----------------------
.filters__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.1em 0em;

  @media #{$lg}{
    gap: 1.3em 0em;
  }

  h3 {
    font-weight: 500;
    font-size: 1em;
    color: $black;
    width: 100%;
  }
}

.select__group {
  width: 100%; 
  label {
    font-weight: 500;
  }

  select {
    text-transform: capitalize;
    margin-left: 0.5em;
    font-size: 1em;
    border-bottom: 1px solid $lightPink;
  }
}

.button__group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;

  @media #{$lg}{
    display: none;
  }
}

.button__group button {
  width: 47%;
  padding: 0.8em 0em;
  font-weight: 500;
  font-size: 1em;
  border-radius: 0.7em;
  transition: all 0.1s;

  &[type="reset"]{
    background: darken($light, 5);
  }
    
  &[type="submit"]{
    background: $dark;
    color: $white;
  }
  
  &:hover {
    box-shadow: 0px 10px 12px -8px rgba(0,0,0,0.3);
  }
}

.radio__group {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 0.8em 0em;
}

.radio__group input[type='radio'] {
  -webkit-appearance: none;

  &:checked + label {
    background: #EAC8C8;
    color: $white;
    font-weight: 600;
  }
}

.radio__item {
  text-transform: capitalize;
  label {
    width: auto;
    padding: 0.3em 0.5em;
    border-radius: 0.4em;
    cursor: pointer;
    transition: all 0.1s;
    font-size: 0.9em;

    &:hover {
      background: #EAC8C8;
      color: $white;
    }
  }
}

//--------------------------SHOP---------------------------

.shop {
  margin-top: 1.1em;
  position: relative;
  @media #{$lg}{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.shop__filters {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0em;
  margin-top: 0.2em;

  @media #{$lg}{
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em 0em;
    padding-top: 0em;
    margin-top: 1.3em;
    font-size: 0.9em;
  }

  @media screen and (min-width: 992px) and (min-height: 440px){
    position: sticky;
    top: 2em;
    left: 0;
  }


  @media #{$xl}{
    width: 26%;
  }
}

.shop__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 45px);
  padding: 0.6em 0.8em;
  border-radius: 0.8em;
  background: lighten($light, 2);
  transition: all 0.1s;

  @media #{$md}{
    width: 40%;
  }

  @media #{$lg}{
    width: 100%;
    margin-bottom: 0.5em;
  }

  button {
    font-size: 1.1em;
  }

  &:hover {
    box-shadow: 0px 8px 12px -8px rgba(0,0,0,0.2);
  }

  input {
    width: 100%;
    padding: 0.1em;
  }
}

.shop__button {
  font-size: 1.3em;
  width: 30px;
  height: 30px;
  @media #{$lg}{
    display: none;
  }
}

.filters__wrapper {
  display: none;

  @media #{$lg}{
    display: block;
  }
}

.shop__content {
  padding: 1em 0.2em;

  @media #{$sm}{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media #{$lg}{
    margin-top: 0.4em;
    width: 67%;
  }

  @media #{$xl}{
    width: 70%;
  }
}

//-----------------PRODUCT-ITEM-------------------
.product-item {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-size: 0.9em;
  background: $white;
  border-radius: 1.3em;
  padding: 1.5em 1.3em;
  cursor: pointer;
  margin-bottom: 1.5em;
  overflow: hidden;

  box-shadow: $boxShadow;

  @media #{$sm}{
    width: 48%;
  }

  @media #{$md}{
    width: 31%;
  }

  @media #{$lg}{
    width: 48%;
    transition: all 0.2s;
    &:hover {
      box-shadow: $boxHoverShadow;
    }
  }

  @media #{$xl}{
    width: 31%;
  }

  &__brand {
    font-size: 0.9em;
    padding: 0.7em 0em;
    font-weight: 300;
    text-transform: capitalize; 
  }

  &__name {
    text-align: center;
    margin-bottom: 1.7em;
  }

  &__price {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.5em 0em;
    font-weight: 700;
    background: rgba($pink, 0.35);
    color: $dark;
    display: grid;
    place-items: center;
  }
}

.product-item__image {
  width: 48%;
  align-self: center;
  height: auto;
  min-height: 130px;
  display: grid;
  place-items: center;

  img {
    width: 100%;
    height: auto;
  }
}


//---------------------SCROLL BUTTON-------------------
.scroll__button {
  z-index: 10;
  position: fixed;
  bottom: 5.5em;
  right: 1.5em;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba($dark, 0.7);
  transform: translateX(100px); 
  display: grid;
  place-items: center;
  box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.2);
  transition: all 0.2s;

  @media #{$md}{
    bottom: 2.5em;
    background: rgba($dark, 0.85);
  }

  &:hover {
    background: $dark;
    box-shadow: 0px 5px 12px -4px rgba(0,0,0,0.3);
  }

  .icon {
    font-size: 1.5em;
    color: $light;
  }
}

//--------------------NOVELTY---------------------

.novelty {
  padding: 3em 1em 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    font-family: $specialFont;
    margin-bottom: 0.5em;
    color: $dark;
  }

  @media #{$lg}{
    padding: 5em 2em;
  }
}

.novelty__content {
  padding: 1em;

  @media #{$sm}{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }

  @media #{$lg}{
    margin-top: 1em;
  }
}

//----------------------PRODUCT-------------------------
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$md}{
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 0.9em;
  }

  @media #{$lg}{
    gap: 2em;
    margin-top: 2em;
  }

  &__content {
    @media #{$md}{
      width: 48%;
    }

    @media #{$lg}{
      width: 50%;
    }
  }
  
  &__brand {
    @extend .product-item__brand;
    text-transform: capitalize;
    font-size: 1em;
  }

  &__description {
    line-height: 1.6;
  }

  &__name {
    font-size: 1.1em;

    @media #{$lg}{
      font-size: 1.3em;
    }
  }
}

.product__image {
  width: 100%;
  background: $white;
  border-radius: 1.3em;
  padding: 1em 0em;
  display: grid;
  place-items: center;
  box-shadow: 0px 13px 15px -15px rgba(0,0,0,0.2);

  @media #{$md}{
    width: 47%;
    padding: 2em 0em;
  }

  @media #{$lg}{
    width: 40%;
    padding: 5em 0em;
  }

  img {
    width: 50%;
    height: auto;

    @media #{$sm}{
      width: 25%;
    }

    @media #{$md}{
      width: 50%;
    }

    @media #{$lg}{
      width: 34%;
    }
  }
}

.product__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$md}{
    justify-content: flex-start;
    gap: 1em;
  }
}

.product__price {
  font-weight: 600;
  font-size: 1.2em;
}

.product__button { 
  background: $lightMenu;
  color: $dark;
  font-weight: 700;
  font-size: 0.9em;
  padding: 0.6em 1.2em;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.1s;
  text-transform: uppercase;

  &:hover {
    background: $dark;
    color: $light;
    box-shadow: 0px 13px 15px -15px rgba(0,0,0,0.2);
  }
}

.product__link {
  margin: 1.5em 0em 0.7em 0em;
  
  @media #{$md}{
    display: none;
  }

  a {
    display: inline-flex;
    align-items: center;
    background: rgba($dark, 0.9);
    color: $light;
    font-weight: 300;
    padding: 0.5em 0.7em;
    border-radius: 1em;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      background: $dark;
    }
  }

  .icon {
    margin-right: 0.3em;
    font-size: 1.1em;
  }
}

.product__message {
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 0.9em;
  border-radius: 1em;
  padding: 0.5em 0.7em;
  background: rgba($dark, 0.95);
  color: $light;
  font-weight: 800;
  transition: all 0.2s;
  transform: translateX(120%);
  box-shadow: 0px 13px 17px -15px rgba(0,0,0,0.3);

  @media #{$md}{
    top: 7em;
    font-size: 0.8em;
    background: $lightMenu;
    color: $dark;
  }
}

//-----------------------RATING------------------------
.rating {
  width: 100%;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;

  .icon {
    font-size: 1.2em;
    color: darken($lightMenu, 5);
  }

  .active {
    color: $pink;
  }

  span {
    margin-left: 0.5em;
    font-size: 0.9em;
  }
}

//-------------------COLORS-----------------------------
.colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0em 0.8em;
  margin-bottom: 0.8em;

  @media #{$lg}{
    margin-bottom: 1.5em;
  }
}

.colors__item {
  label {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    border: 3px solid transparent;
  }

  input[type="radio"]:checked + label, label:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    border: 3px solid $white;
    transform: scale(1.2);
  }
}


//--------------------EMPTY CART------------------------
.empty-cart {
  @extend .novelty;
  padding: 1em;

  @media #{$lg}{
    padding: 1.8em;
  }

  h2 {
    font-family: $basicFont;
    font-weight: 300;
    font-size: 1.1em;
    color: $grayPink;
  }

  &__link {
    font-size: 0.9em;
    padding: 0.5em 0em;
    text-transform: uppercase;
    font-weight: 200;
    text-decoration: underline;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }

  &__content {
    @extend .novelty__content;
  }
}


//------------------------CART-----------------------

.cart {
  @media #{$md}{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2em;
    padding-top: 1em;
  }
}

.cart__products {
  @media #{$md}{
    width: 48%;
  }

  @media #{$lg}{
    width: 400px;
    font-size: 0.9em;
  }

  @media #{$xl}{
    width: calc(100% - 400px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  background: $white;
  border-radius: 1.3em;
  padding: 1em;

  
  box-shadow: 0px 13px 15px -15px rgba(0,0,0,0.2);

  @media #{$xl}{
    width: 48.5%;
    margin-bottom: 1.5em;
  }

  &__content {
    width: 80%;
    display: flex;
    cursor: pointer;

    @media #{$lg}{
      width: 65%;
    }
  }

  &__image {
    margin-right: 0.5em;
    height: 85px;
    width: auto;
    @media #{$lg}{
      margin-right: 1em;
    }
  }

  &__brand, &__color {
    font-size: 0.95em;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__name {
    margin: 0.2em 0em;
    font-size: 1em;
    text-transform: capitalize;
  }

  &__price {
    margin-top: 0.35em;
  }
}

.cart-item__color {
  display: flex;
  align-items: center;
  font-weight: 400;
  span {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 0.4em;
  }
}

.cart-item__controls {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 30px;
    height: 30px;
    background: $lightMenu;
    color: $dark;
    border-radius: 50%;
    display: grid;
    place-items: center;

    transition: all 0.1s;

    @media #{$lg}{
      width: 25px;
      height: 25px;
      font-size: 0.8em;
    }

    &:hover {
      background: $dark;
      color: $light;
    }
  }

  span {
    margin: 0.3em 0em;
    font-weight: 700;
    font-size: 0.95em;
    @media #{$lg}{
      margin: 0.6em 0em;
    }
  }
}

//--------------------SUMMARY---------------------
.summary {
  margin: 2em 0em 1em 0em;

  @media #{$md}{
    width: 42%;
    margin: 0em;
    position: sticky;
    top: 2em;
  }

  @media #{$lg}{
    width: 350px;
  }


  &__button {
    background: $lightMenu;
    border-radius: 1.2em;
    width: 100%;
    padding: 13px 0;
    transition: all 0.1s;

    &:hover {
      box-shadow: 0px 8px 12px -8px rgba(0,0,0,0.25);
    }
  }

  &__message {
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 1em;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.95em;
    padding: 0.2em 0em 0.7em 0em;

    &.total {
      padding-top: 0.8em;
      border-top: 1px solid rgba($dark, 0.4);
    }

    @media #{$lg}{
      font-size: 0.9em;
    }
  }

  .bold {
    font-weight: 700;
  }
}

.checkout__button {
  margin-top: 1em;
  background: rgba($dark, 10);
  color: $light;
  font-weight: 600;
  border-radius: 1.2em;
  width: 100%;
  padding: 13px 0;
  transition: all 0.1s;

  &:hover {
    background: $dark;
    color: $white;
    box-shadow: 0px 8px 12px -8px rgba(0,0,0,0.25);
  }
}

.summary__form {
  margin: 1em 0em;
  width: 100%;
  background: $grayPink2;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.1s;

  &:hover {
    box-shadow: 0px 8px 12px -8px rgba(0,0,0,0.25);
  }

  input {
    padding: 13px 25px;
    width: calc(100% - 50px);
    &::placeholder{
      color: lighten($dark, 5);
    }
  }

  button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: $lightMenu;
    color: $dark;
    font-size: 1em;
    display: grid;
    place-items: center;
    transform: translateX(1px);
    transition: all 0.1s;

    &:hover, &:disabled {
      color: $white;
      background: $dark;
    }
  }
}

//----------------------ERROR--------------------
.error {
  display: grid;
  place-items: center;
  padding-top: 3em;
  p {
    font-weight: 800;
    color: $grayPink;
    font-size: 1.3em;
  }

  a {
    font-size: 0.9em;
    font-weight: 300;
    padding: 1em 0em;
    &:hover {
      text-decoration: underline;
    }
  }
}